.popup {
  padding: 0 10px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  border-radius: 15px;
  min-height: 585px;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .popup {
    max-width: 90% ;
    height: auto;
    min-height: 527px;
  }
}
